@using Data.Custom
@using RpgNotes.Desktop.Shared.Input

@if (Field != null) {

if (Field.Type == FieldType.String) {
    <EditText Label=@Field.Name AllowEdit=true Getter=@(() => Field.Value) Setter=@((v) => Field.Value = v)></EditText>
} else if (Field.Type == FieldType.MultilineString) {
    <EditMultiline Label=@Field.Name AllowEdit=true Getter=@(() => Field.Value) Setter=@((v) => Field.Value = v)></EditMultiline>
} else if (Field.Type == FieldType.Number) {
    <EditNumber Label=@Field.Name AllowEdit=true Getter=@(() => Field.Value) Setter=@((v) => Field.Value = v)></EditNumber>
} else if (Field.Type == FieldType.Boolean) {
    <EditBoolean Label=@Field.Name AllowEdit=true Getter=@(() => Field.Value) Setter=@((v) => Field.Value = v)></EditBoolean>
} else if (Field.Type == FieldType.Quantity) {
    <EditQuantity Label=@Field.Name AllowEdit=true Getter=@(() => Field.Value) Setter=@((v) => Field.Value = v)></EditQuantity>
} else if (Field.Type == FieldType.Date) {
    <EditDatetime Label=@Field.Name AllowEdit=true Getter=@(() => Field.Value) Setter=@((v) => Field.Value = v)></EditDatetime>
} else {
    <label>@Field.Name</label>
}

}

@code {
    [Parameter] public MetadataField Field {get; set;}
}