<span class="w3-tag w3-round @selectedCssClass" style="padding: 4px; margin:4px; user-select: none;" @onclick=click>
    &#8226; @Tag
</span>

@code {
    [Parameter] public bool Selectable {get; set;}
    [Parameter] public string Tag {get; set;}
    [Parameter] public Action<string> OnSelect {get; set;}
    [Parameter] public Action<string> OnDeselect {get; set;}

    private bool selected;
    private string selectedCssClass => selected && Selectable ? "error" : "bright";

    private void click() {
        if (Selectable) {
            selected = !selected;
            if (selected) {
                OnSelect?.Invoke(Tag);
            } else {
                OnDeselect?.Invoke(Tag);
            }
        }
    }
}