<div class="w3-modal @css">
    <div class="w3-modal-content">
        <div class="panel">
            <div class="w3-xlarge w3-padding header">
                @Title
                <span class="w3-button w3-display-topright" @onclick=close>&times;</span>
            </div>
            <div>
                @ChildContent
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title {get; set;}
    [Parameter] public RenderFragment ChildContent {get; set;}

    [Parameter] public bool Visible {get; set;} = false;
    private string css => Visible ? "w3-show" : "w3-hide";

    [Parameter] public Action OnClose {get; set;}

    private void close() {
        OnClose?.Invoke();
    }
}