<div class="w3-round-large panel">
    <div class="w3-display-container well">
        <div class="w3-padding" @onclick=@(() => collapse = !collapse) style="user-select: none;">
            @if(collapse){
                <span>&#x25B8;</span> 
            } else {
                <span>&#x25BE;</span>
             } @Title
        </div>
        <div class="w3-display-topright">
            @Bar
        </div>
    </div>
    @if(!collapse) {
    <div class="@(PadChildren ? "w3-padding" : string.Empty)">
        @Content
    </div>
    }
</div>

@code {
    [Parameter] public string Title {get; set;}
    [Parameter] public RenderFragment Content {get; set;}
    [Parameter] public RenderFragment Bar {get; set;}
    [Parameter] public bool StartCollapsed {get; set;}
    private bool collapse = false;
    [Parameter] public bool PadChildren {get; set;} = true;

    protected override void OnInitialized() {
        if (StartCollapsed) {
            collapse = true;
        }
    }
}