<div class="@(Parent != null && Parent.IsCurrentPage(this) ? "w3-show" : "w3-hide")" style="height: 100%;">
    @ChildContent
</div>

@code {
    [CascadingParameter] TabView Parent {get; set;}
    [Parameter] public Func<string> TitleFunc {get; set;}
    [Parameter] public string Title {
        get => TitleFunc?.Invoke() ?? string.Empty;
        set {
            TitleFunc = () => value;
        }
    }
    [Parameter] public RenderFragment ChildContent {get; set;}

    protected override void OnInitialized() {
        Parent?.RegisterPage(this);
    }
}