@if (Parent != null && Parent.IsCurrentPage(this)) {
    <div>
        @ChildContent
    </div>
}

@code {
    [CascadingParameter] TabPanel Parent {get; set;}
    [Parameter] public Func<string> TitleFunc {get; set;}
    [Parameter] public string Title {
        get => TitleFunc?.Invoke() ?? string.Empty;
        set {
            TitleFunc = () => value;
        }
    }
    [Parameter] public RenderFragment ChildContent {get; set;}

    protected override void OnInitialized() {
        Parent?.RegisterPage(this);
    }
}