@typeparam T

<div style="box-sizing: border-box;">
    <div class="timeline">
        @if (Items != null) {
            var step = 0;
            foreach (var item in Items) {
                step = (step + 1) % 2;
                <div class="timeline-container @(step == 0 ? "timeline-left" : "timeline-right")">
                    <div class="timeline-content">
                        @ChildContent(item)
                    </div>
                </div>
            }
        }
    </div>
</div>

@code {
    [Parameter] public IEnumerable<T> Items {get; set;}
    [Parameter] public RenderFragment<T> ChildContent {get; set;}
}