@inject FileManager files

<div class="field">
<label>@Label</label>
<div class="w3-row">
    @if (AllowEdit) {
    <div class="w3-col edit" style="width:24px">
        <img src="static/images/edit.svg" style="width:24px; padding-top:8px;" @onclick=@(() => isDisabled = !isDisabled)>
    </div>
    }
    <div class="w3-rest">
        <input type="date" @bind=@date class="w3-right-align" disabled="@isDisabled">
    </div>
</div>
</div>

@code {
    [Parameter] public string Label {get; set;}
    [Parameter] public bool AllowEdit {get; set;} = false;
    [Parameter] public Func<string> Getter {get; set;}
    [Parameter] public Action<string> Setter {get; set;}

    private bool isDisabled = true;
    private string text {
        get => Getter?.Invoke();
        set {
            isDisabled = true; // After you change the value auto-stop editing
            Setter?.Invoke(value);
            files.MarkDirty();
            StateHasChanged();
        }
    }

    private DateTime date {
        get {
            DateTime t;
            if (DateTime.TryParse(text, out t)) {
                return t;
            } else {
                return DateTime.Now;
            }
        } set {
            text = value.ToString();
        }
    }

}