@using RpgNotes.Desktop.Shared.Layouts

<Modal Title="Add Internet Image" Visible=popupVisible OnClose=@(() => { popupVisible=false; StateHasChanged(); })>
    <div class="w3-padding">
        <label>URL</label>
        <input type="text" placeholder="https://my-site.com/image.png" @bind=url>
        <div class="w3-padding w3-center">
            <button class="w3-button @(canAdd ? "ok" : "disable")" @onclick=add>
                <img src="static/images/link.svg" width=20> Link
            </button>
        </div>
    </div>
</Modal>

@code {
    private string _url;
    private string url {
        get => _url;
        set {
            _url = value;
            StateHasChanged();
        }
    }
    private bool popupVisible = false;
    private bool canAdd => !string.IsNullOrEmpty(url);

    [Parameter] public Action<Image> OnAdd {get; set;}

    public void Open() {
        popupVisible = true;
        StateHasChanged();
    }

    private void add () {
        if (canAdd) {
            var image = Image.InternetUrl(url);
            OnAdd?.Invoke(image);
            url = null;
            popupVisible = false;
            StateHasChanged();
        }
    }
}