.button {
    user-select: none;
}

.button:hover {
    background-color: var(--theme-highlight-bright);
}

.graph .link {
    stroke: var(--theme-highlight-error);
    stroke-width: 2px;
}

.graph .arrow {
    fill: var(--theme-highlight-error);
}

.graph .article {
    cursor: pointer;
    stroke: var(--theme-highlight-bright);
    stroke-width: 2px;
    fill: var(--theme-panel)
}

.graph .label {
    user-select: none;
    pointer-events: none;
    fill: var(--theme-font-colour);
    text-anchor: "middle";
}

.graph .name {
    user-select: none;
    pointer-events: none;
    fill: var(--theme-font-colour);
}

.draw .point {
    fill: var(--theme-highlight-bright);
}

.draw .line {
    stroke: var(--theme-highlight-bright);
    stroke-width: 4px;
}

.tree-caret {
    cursor: pointer;
    user-select: none;
}

.tree-caret::before {
    content: "\25B6";
    display: inline-block;
    margin-right: 1em;
}

.tree-caret-expanded::before {
    transform: rotate(90deg);
}

.tree-collapse {
    display: none;
}

.tree-expanded {
    display: block;
}

body {
    overscroll-behavior: none;
    background-color: var(--theme-base);
    color: var(--theme-font-colour);
}

.w3-modal-content {
    background-color: var(--theme-base);
    color: var(--theme-font-colour);
}

.w3-ul,.no-lines li {
    border: none;
}

h1 {
    border-bottom: 1px solid white;
}

input, select {
    width: 100%;
    padding: 8px;
    display: block;
    background-color: var(--theme-disabled);
    color: white;
    border: none;
    border-bottom:1px solid white;
}

input:disabled {
    background-color: var(--theme-panel);
    border-bottom: none;
}

textarea {
    width: 100%;
    display: block;
    background-color: var(--theme-base);
    color: white;
    border: none;
    border-bottom:1px solid white;
    min-height: 64px;
    resize: vertical;
}

textarea:disabled {
    background-color: var(--theme-disabled);
    border-bottom: none;
}

blockquote {
    margin: 0px 0px 20px 0px;
    padding: 40px 40px 20px 50px;
}
blockquote::before {
    content: "\201C";
    display: block;
    color: rgb(182, 181, 181);
    font-family: Georgia, serif;
    font-size: 80px;
    height: 0;
    left: -50px;
    position: relative;
    top: -10px;
}

.tooltip {
    position: relative;
}

.tooltip .hint {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    top: -48px;
    left: 50%;
    width: 256px;
    margin-left: -128px;
    overflow: hidden;
    background-color: var(--theme-header);
    color: white;
    font-size: small;
}

.tooltip .hint::after {
    content: "";
    z-index: inherit;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1a1a1a;
}

.tooltip:hover .hint {
    visibility: visible;
}

.field .edit {
    visibility: hidden;
}
.field:hover .edit {
    visibility: visible;
}

.fill {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.border {
    border-width: 1px;
    border-color: var(--theme-font-colour);
}

.border.solid {
    border-style: solid;
}

.border.dashed {
    border-style: dashed;
}

.base {
    background-color: var(--theme-base);
}
.base-border {
    border-color: var(--theme-base);
}

.error {
    background-color: var(--theme-highlight-error);
}
.error-border {
    border-color: var(--theme-highlight-error);
}
.error-text {
    color: var(--theme-highlight-error);
}

.ok {
    background-color: var(--theme-highlight-ok);
}
.ok-border {
    border-color: var(--theme-highlight-ok);
}
.ok-text {
    color: var(--theme-highlight-ok);
}

.bright {
    background-color: var(--theme-highlight-bright);
}
.bright-border {
    border-color: var(--theme-highlight-bright);
}

.disable {
    background-color: var(--theme-disabled);
}
.disable-border {
    border-color: var(--theme-disabled);
}

.panel {
    background-color: var(--theme-panel);
}

.well {
    background-color: var(--theme-disabled);
    color: var(--theme-font-colour);
}

.header {
    background-color: var(--theme-header);
}
.header-border {
    border-color: var(--theme-header);
}

.grid {
    height: 100%;
    width: 100%;
}
.grid {
    background-image:
      repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
}

.timeline-markdown h1{
    font-size: medium;
    font-weight: bold;
    border: none;
}
.timeline-markdown h2{
    font-size: medium;
}
.timeline-markdown h3{
    font-size: medium;
}
.timeline-markdown h4{
    font-size: medium;
}
.timeline-markdown h5{
    font-size: medium;
}
.timeline-markdown h6{
    font-size: medium;
}


.editor {
    position: relative;
    width: 100%; height: 100%;
}

.editor textarea,.code {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;  

    margin: 0;
    padding: 5px;
    border: 0;

    font-family: monospace;
    line-height: 20pt;
    font-size: 15pt;
    overflow: auto;
}

.editor textarea {
    resize:none;
    /*color: transparent;*/
    /*background: transparent;*/
    /*caret-color: white;*/ /* Or choose your favorite color */
}

.editor .code {
    pointer-events: none;
    white-space: pre-wrap
}

.editor .md-header {
    color: rgb(255, 128, 0);
}

.editor .md-link {
    color: rgb(5, 39, 112);
}

.editor .md-label {
    color: rgb(5, 39, 112);
}

.editor .md-italics {
    font-style: italic;
}

.editor .md-bold {
    font-weight: bold;
}

@media(max-width: 1030px) {
    .hide-sidebar {
        display: none;
    }    
}