@page "/"
@inject RpgNotes.Desktop.Data.AppData app
@namespace RpgNotes.Desktop.Pages
@using Microsoft.AspNetCore.Components
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RpgNotes.Desktop</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/w3.css" />
    @* CSS Conflict Resolution says the one loaded last wins. IE use default theme, then use user selected theme, then use custom css overloads *@
    @if (!string.IsNullOrEmpty(app.Config.Value.Appearance.ThemeCssPath)) {
    <link href="api/files/getFromReference/@(app.Config.Value.Appearance.ThemeCssPath.EncodeBase64())" rel="stylesheet" />
    } else {
    <link href="css/default.theme.css" rel="stylesheet" />
    }
    @if (!string.IsNullOrEmpty(app.Config.Value.Appearance.CustomCss)) {
    <style>
    @((MarkupString)app.Config.Value.Appearance.CustomCss)
    </style>
    }
    <link href="css/app.css" rel="stylesheet" />
    <link href="RpgNotes.Desktop.styles.css" rel="stylesheet" />
    <script src="js/helpers.js"></script>
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
