.campaign-box {
    width: 120px;
    height: 120px;
    display:inline-block;
    text-align: center;
    line-height: 120px;
    font-size: large;
}

.article-preview-img {
    position: absolute; 
    left: 0; right: 0; top:0; bottom: 0; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.article-preview-container {
    min-height: 120px;
    overflow: hidden;
}

.article-preview-label {
    background-color: rgba(78, 78, 78, 0.5);
    padding: 6px;
    user-select: none;
}