@page "/home/{HomeRef}/editors/render/{FileRef}"
@inherits EditorBase;
@inject NavigationManager nav;
@using System.IO
@using System.Text.RegularExpressions
@using System.Text.Json

@if (Exists) {
<Header>
<button title="edit" class="w3-button w3-bar-item" style="float: right;" @onclick=edit><img src="static/images/edit.svg" height=20></button>
</Header>
<article class="w3-container" style="padding-top: 40px;">
    @((MarkupString)rendered)
</article>
} else {
<Error>
    File '@(File)' does not exist.
</Error>
}

@code {
    private DateTime textFetchedAtTime;
    public string text;
    public bool FileHasChanged => Exists && File.LastWriteTime > textFetchedAtTime;

    private string rendered;

    protected override void OnParametersSet () {
        base.OnParametersSet ();
        reloadText();
        renderMarkdown();
    }

    private void edit() {
        this.nav.NavigateTo(new PageInfo(
            home: this.HomeDirectory,
            editor: "editors/edit",
            file: File
        ).Url);
    }

    private void reloadText() {
        if (Exists) {
            this.textFetchedAtTime = DateTime.Now;
            var article = new Article(this.File);
            text = article.AutoLinkedContents(this.HomeDirectory);
        }
    }

    private void renderMarkdown() {
        if (this.text != null)
        this.rendered = md.Transform(this.text);
    }

    private static MarkdownSharp.Markdown md = new MarkdownSharp.Markdown(
        new MarkdownSharp.MarkdownOptions {
            
        }
    );
}