@inject NavigationManager nav;
@inject FileManager files;
@inject NavigationHistory history;

<div class="w3-dropdown-hover">
  <button class="w3-button well" style="padding-left:6px; padding-right:6px;">&#x2039;</button>
  <div class="well w3-dropdown-content w3-bar-block w3-border">
      @foreach (var location in history) {
          <button @onclick=@(() => nav.NavigateTo(location.AbsoluteUri, forceLoad: true)) class="w3-bar-item w3-button">@(getUriName(location))</button>
      }
  </div>
</div>

@code {
  string getUriName(Uri uri) {
    var path = uri.LocalPath;
    if (path.StartsWith("/article/")) {
      var parts = path.Substring(1).Split('/');
      var articleId = parts[1];
      if (files.HasLoadedSavefile()) {
        var article = files.Data().Articles[articleId];
        
        if (parts.Length >=3 && parts[2] == "map") {
          return "Map of " + article.Name;
        } else {
          return article.Name;
        }
      }
    }
    
    var name = System.IO.Path.GetFileName(path);
    return name.Substring(0, 1).ToUpper() + name.Substring(1);
  } 
}